* {
    font-family: Verdana;
}

#bok {
    width: 20%;
    height: 610px;
    float: left;
}

img {
    width: 100%;
    height: 610px;
}

#naglowek, #stopka, #nawigacja {
    background-color: MediumPurple;
    color: white;
    width: 80%;
    height: 50px;
    float: left;
    text-align: center;
    text-shadow: 4px 4px DimGray;
}

#nawigacja {
    padding-top: 10px;
}

#glowny {
    background-color: Thistle;
    width: 80%;
    height: 450px;
    float: left;
    overflow: auto;
}


ul {
    margin: 40px auto;
    width: 70%;
    font-size: 25px;
    border: 2px solid MediumPurple;
    list-style-type: none;
    padding: 0;
}

li {
    padding: 10px;
}

li:nth-child(even) {
    background-color: #DDCADD;
}

li:hover {
    background-color: Lavender;
}

li button {
    float: right;
    background-color: MediumPurple;
    color: white;
    height: 30px;
    border: none;
    cursor: pointer;
}
